body {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}

.header1 {
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
  padding: 10px;
}

.drink-pics {
  display: block;
  text-align: center;
}

.drink-pics span {
  display: inline-block;
  margin: 15px;
  text-align: center;
}

.drink-pics img {
  max-width: 180px;
}

.drink-pics a {
  font-size: 16px;
  color: rgb(201, 163, 169);
}